*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
:root {
    --titulos: #212529;
    --paragraph: #495057;

    --borda: #FFFAF1;

    --fundo-escuro: #00856F;
    --fundo-claro: #DCE9E2;
    --fundo-bege: #F7F9F9;

    font-size: 62.5%;

    --nav-height: 7.2rem

}
html, body{
    width: 100%;
    height: 100%;
}

#home::before {
    content: "";
    width: 100%;
    height: 108rem;
    background-color: var(--fundo-claro);
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;

    background-color: var(--fundo-bege);

    text-align: center;

    overflow: overlay;
}

html{
    scroll-behavior: smooth;
}

.wrapper{
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

section {
    padding-block: 10rem;
}

section header h4{
    font-size: 1.4rem;
    color: var(--fundo-escuro);
    margin-bottom: 1.6rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--fundo-escuro);
    text-transform: uppercase;

}

section header h2{
    font-size: 3.3rem;
    line-height: 3.9rem;
    margin-bottom: 6rem;

    color: var(--titulos)
}

section header h1{
    color: var(--titulos);
    font-size: 3.4rem;
    line-height: 130%;
    margin-bottom: 2.4rem;
}

section .content p {
    color: var(--paragraph);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
}

/*========= HOME ========================================*/
#home {
    padding-top: calc(4.1rem + var(--nav-height))


}

#home h4 {
    font-size: 1.4rem;
    color: var(--fundo-escuro);
    margin-bottom: 1.6rem;
}

#home h1 {
    color: var(--titulos);
    font-size: 3.4rem;
    line-height: 130%;
    margin-bottom: 2.4rem;
}

#home p {
    color: var(--paragraph);

    line-height: 150%;

    font-size: 1.8rem;
    font-weight: 400;

    margin-bottom: 3.2rem;
}

#home button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    border: none;
    border-radius: 4rem;

    background-color: var(--fundo-escuro);

    margin-bottom: 6rem;
    margin-inline: auto;

    height: 6.2rem;
    width: 26.3rem;

    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
}

#home img{
    width: 26.rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}

#home .stats{
    width: 32.7rem;
    padding-block: 4rem;

    margin-inline: auto;

    background-color: var(--borda);
    border: 1px solid var(--fundo-bege);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

#home .stat h3{
    font-size: 4.8rem;
    color: var(--titulos);
    line-height: 130%;

    margin-bottom: 0.4rem;
}

#home .stat p {
    margin: 0;
    color: var(--fundo-escuro);
    line-height: 150%;
}

/* =========== NAVIGATION  =========================*/
nav {
    display: flex;
    height: var(--nav-height);

    position: fixed;
    top: 0;
    width: 100vw;

    z-index: 100;
}

nav.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background-color: var(--fundo-escuro);
}

nav.scroll .logo path{
    fill: white;
}

nav.scroll button path{
    stroke: white;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu,
.close-menu,
body.menu-expanded .open-menu{
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

body.menu-expanded > :not(nav){
    display: none;
}

.menu ul:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a{
    color: white;
    text-decoration: none;
}

.menu{
    transform: translateY(100%);

}

body.menu-expanded .menu{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--fundo-escuro);

    width: 100vw;
    height: 100vh;

    padding-top: var(--nav-height);

    transition: transform 600ms;
    transform: translateY(0%);
}

.sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

.agende-consulta{
    text-decoration: none;
    color: var(--fundo-escuro);
    font-weight: bold;
    text-transform: uppercase;

    padding: 1.6rem 3.2rem;

    position: absolute;
    width: 27.4rem;
    height: 5.5rem;
    left: 5rem;
    top: 44.8rem;

    background: #FFFFFF;
    border-radius: 4rem;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path{
    fill: white;
}

body.menu-expanded button path{
    stroke: white;
}

/*======== SERVICES ==============================================*/
#services header h4{
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08rem;

    color: var(--fundo-escuro);

    text-transform: uppercase;

}

#services header h2{
    font-size: 3.3rem;
    line-height: 3.9rem;
    margin-bottom: 6rem;

    color: var(--titulos)
}

#services .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card{
    padding: 2.4rem;
    text-align: left;

    background: white;

    border: 1px solid var(--fundo-bege);
    border-radius: .6rem;
}

#services .card h3{
    margin-block: 1.6rem;
}

/*========= ABOUT =================================================*/
#about{
    text-align: left;
    background-color: var(--borda);
}

#about h2 {
    margin-bottom: 2.4rem;
}

#about .content p {
    margin-top: 2.4rem;
    margin-bottom: 6rem;
}